@charset "UFT-8";

*{
    padding-top: 0px;
    padding-left: 0px;
}
section{
    background-color: white;
}
body{
    background-image: linear-gradient(to bottom, #E9492A, #E83E38, #E72357);
}
main{
    margin: auto;
    max-width: 600px;
    min-width: 600px;
    background-color: rgb(129, 125, 125);
}
.inline{
    display: flex;
}
#ajuste{
    margin-left: -1px;
}
#final{
    margin-top: 5vh;
    margin-bottom: 0px;
}
p{
    text-align: center;
    line-height: 2vh;
    background-color: white;
    padding-bottom: 25px;
}
