@charset "UFT-8";

*{
    padding-top: 0px;
    padding-left: 0px;
}

main{
    margin: auto;
    max-width: 600px;
    min-width: 600px;
    background-color: white;
}
.inline{
    display: flex;
}
#ajuste{
    margin-left: -1px;
}
#final{
    margin-top: 5vh;
}
footer{
    text-align: center;
    line-height: 2vh;
}
